* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	

}

body {
	background-image: url(../images/bg-3.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#main-body {
	background-color: white;
}

p {
	/*font-family: 'PT Sans', sans-serif;*/
	font-family: 'Roboto Slab', serif;
}

.btn  {
	background-color: #00459B;
}

.btn:hover {
	background-color:  #ff0015;
}


@font-face {
    font-family: "built";
    src:url("../font/built titling bd.ttf");
}

@font-face {
    font-family: "dead";
    src:url("../font/Dead Stock - Demo.ttf");
}

@font-face {
    font-family: "code";
    src:url("../font/CODE Bold.otf");
}

/*landing page*/

#cont {
	overflow: hidden;
} 

#left-cont {
	/*background-color: #00459B;*/
	background-color: #F7C331;
	height: 100vh;
	width: 50vw;
	animation-delay: 2s;
	padding: 0;
	/*animation: none;*/
	object-fit:	cover;
	overflow: hidden;
}

.images-r {
	height: 100%;
	width: 100%;
}

#center-cont {
	position: absolute;
	background-color: white;
	height: 50vh;
	width: 100vw;
	padding: 0;
	z-index: 1;
	top: 50%;
	/*transform: translateX(-50%);*/
	transform: translateY(-50%);
	overflow: hidden;
}

#center-left {
	height: 50vh;
	width: 50vw;
	background-color: #00459B;
	/*background-color: #F7C331;*/
	float: left;
	/*animation: none;*/
	object-fit:	cover;
	overflow: hidden;
	animation-delay: 1s;
}

#center-right {
	height: 50vh;
	width: 50vw;
	background-color: #980819;
	/*background-color: #F7C331;*/
	float: left;
	/*animation: none;*/
	animation-delay: 1s;
}

#right-cont {
	/*background-color: #980819;*/
	background-color: #F7C331;
	height: 100vh;
	width: 50vw;
	animation-delay: 2s;
	padding: 0;
	/*animation: none;*/
	overflow: hidden;

}

#center-center {
	position: absolute;
	/*left: 50vh;*/
	z-index: 2;
	/*transform: translateX(7vh);*/
	width: 100vw;
	text-align: center;
	height: 50vh;
	overflow: hidden;
	
}


.img-center {
	height: 30vh;
	/*width: 15vw;*/

}

.images-SK {
	animation-delay: 3.3s;
	animation-duration: 2s;
	z-index: 3;

}

.landing-text {
	font-family: 'dead';
	color: white;
	font-size: 6em;
	animation-delay: 3.5s;
	overflow: hidden;
}

#landing-text-qoute {
	font-family: 'code';
	color: white;
	font-size: 2em;
	animation-delay: 4.5s;
}

/*start of homepage css*/

.current-page {
	color: #FFD101;
}

#left-heading {
	color: #0b1af0;

}

#right-heading {
	color: #ff0015;
}


h3	{
	font-family: 'dead';
}

a.text-logo {
	text-decoration: none;
	font-family: 'dead';
	font-size: 2em;
}

.nav-link {
	font-size: 1em;
	margin-right: 10px;
	margin-left: 10px;
	font-family: 'Roboto Slab', serif;
}


.bg-sk {
	background-color: #FFD101;
	transition-duration: 2s;
	transition: all linear .25s;
}

video#bgvid {
  /*position: fixed;*/
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  /*min-height: 100vh;*/
  /*width: auto; */
  /*height: auto;*/
  /*z-index: -100;*/
  top: 0;
  margin-top: -6%;
 /* background:url(../images/ss-isangboto.png) no-repeat;
  background-size: cover;*/
}

.heading-text {
	font-family: 'dead';
	font-weight: 300;
	font-size: 9em;
	animation-delay: 1s;
}

.description-page {
	animation-delay: 1.5s;
}

.heading-second-text {
	font-family: 'dead';
	font-size: 4em;

}

.hr-design {
	background-color:  #00459B;
	height: 5px;
}

.hr-design-2 {
	background-color:  #ff0015;
	height: 5px;
}


.project-cont {
	border: none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
}


.img-sklogo{
	height: 250px;
	width: 250px;
	margin: 2px;
}

.background-white {
	background-color: white;
}


/*about style*/

.about-center-heading {
	font-family: 'dead';
	font-size: 7em;
	color: #FFD101;
	animation-delay: .5s;
}

.image-about {
	height: 250px;
	width: 250px;
}

#vid-about {
		width: 100%;
		height: auto;
}

/*contact style*/

.label-text {
	padding: 0;
	font-family: 'Roboto Slab', serif;
}

#submit {
	width: 100%;
}

/*project style*/

.card-project {
	border: none;
}

.ovrlay-background {
	background-color: rgba(255, 253, 253, 0.4);
}

#selected {
	background-color: #ff0015;
}

.sikad-kabataan {
	height: 87vh;
}


/*footer style*/

footer {
	width: 100vw;
	background-color: #FFD101;
}

.footer-img-logo {
	height: 50px;
	width: 50px;
	margin: 5px;
}

.center-footer {
	/*border-left: 2px solid white; 
	border-right: 2px solid white;*/
	height: 30vh; 
}

.icon {
	padding: 5px;
}

.icon:hover {
	color: black;
}

.footer-text {
	font-weight: 300;
	font-family: 'Roboto Slab', serif;
}


/*tablet style*/
@media only screen and (min-width: 401px) and (max-width: 960px){
	
	/*landing page style*/

	.landing-text {
		font-size: 4.5em;
	}

	#landing-text-qoute {
		font-family: 'code';
		color: white;
		font-size: 2em;
		animation-delay: 4.5s;
	}

	/*home style*/

	video#bgvid {
		/*max-width: 400px;*/
		/*max-height: 200px;*/
/*		min-height: 200px;
		position: fixed;
		z-index: -3;
		top: 0;
		margin-top: 10vh;*/
		margin-top: 5%;
	}

	.navbar-nav {
		text-align: center;
	}

	.navbar-nav, .navbar {
		background-color: #FFD101;
		
	}

	.current-page {
		color: white;
	}

	#vid-about {
		width: 100%;
		height: auto;
	}

	.heading-text {
		font-family: 'dead';
		font-weight: 300;
		font-size:4.5em;
		animation-delay: 1s;
	}
}


/*mobile style*/
@media only screen and (max-width: 400px) {

	/*landing page style*/

	.landing-text {
		font-size: 2.5em;
	}

	#landing-text-qoute {
		font-family: 'code';
		color: white;
		font-size: 1em;
		animation-delay: 4.5s;
	}

	/*home style*/

	.navbar-nav {
		text-align: center;
	}

	.navbar-nav, .navbar {
		background-color: #FFD101;

	}

	.current-page {
		color: white;
	}


	video#bgvid {
		/*max-width: 400px;*/
		/*max-height: 200px;*/
/*		min-height: 200px;
		position: fixed;
		z-index: -3;
		top: 0;
		margin-top: 10vh;*/
		margin-top: 20%;
	}

	#vid-about {
		width: 100%;
		height: auto;
	}

	a.text-logo {
		text-decoration: none;
		font-family: 'dead';
		font-size: 1.2em;
	}

	.heading-text {
		font-family: 'dead';
		font-weight: 300;
		font-size:4em;
		animation-delay: 1s;
	}

	.heading-second-text {
		font-family: 'dead';
		font-size: 3em;

	}
	.about-center-heading {
		font-family: 'dead';
		font-size: 3em;
		color: #FFD101;
		animation-delay: .5s;
	}

	.project-cont {
		margin: 0 auto;
	}

	.qoute-style {
		text-align: center;
	}

	/*project style*/


	/*about style*/



}